<% unless article.id == nil %>
  <table class="table">
    <tr>
      <td>User ID:</td>
      <td><%= article.id %></td>
    </tr>
    <tr>
      <td>Title:</td>
      <td><%= article.title %></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><%= article.description %></td>
    </tr>
    <tr>
      <td>Public Flag:</td>
      <td><%= article.public_flag %></td>
    </tr>
    <tr>
      <td>Created at:</td>
      <td><%= article.created_at %></td>
    </tr>
    <tr>
      <td>Updated at:</td>
      <td><%= article.updated_at %></td>
    </tr>
  </table>  
<% end %>