<div class="container w-500">
  <%= form_with model: member do |form|%>
    <div class="mb-3">
      <%= form.label :Name, class: "form-label" %><br>
      <%= form.text_field :user_name, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :Title, class: "form-label" %><br>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :Description, class: "form-label" %><br>
      <%= form.text_area :description, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :Public_flag %>
      <div class="form-check">
        <%= form.radio_button :public_flag, 'true', class: "form-check-input" %>
        <%= form.label :Yes, class: "form-check-label" %>
      </div>
      <div class="form-check">
        <%= form.radio_button :public_flag, 'false', class: "form-check-input" %>
        <%= form.label :No, class: "form-check-label" %>
      </div>
    </div>

    <div>
      <%= form.submit :Create, class: "btn btn-outline-success mr-50" %>
      <%= link_to '<button type="button" class="btn btn-outline-warning">Cancel</button>'.html_safe, posts_path %>
    </div>
  <% end %>
</div>
